node_red/dashboard_trends_flow.json
[
    {
        "id": "e428c7b183d91285",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3a599760988bbd95",
        "type": "ui-gauge",
        "z": "e428c7b183d91285",
        "name": "Voltage",
        "group": "dfc0ab21eca84754",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 4,
        "height": 2,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Voltage (V)",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "V",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "400",
        "max": "480",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 620,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "cd0886d69587601e",
        "type": "ui-gauge",
        "z": "e428c7b183d91285",
        "name": "Current ",
        "group": "dfc0ab21eca84754",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 4,
        "height": 2,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Current (A)",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "A",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "20",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 620,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "bbb4df4b263fd148",
        "type": "ui-gauge",
        "z": "e428c7b183d91285",
        "name": "Power ",
        "group": "dfc0ab21eca84754",
        "order": 3,
        "value": "payload",
        "valueType": "msg",
        "width": 4,
        "height": 2,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Power (W)",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "W",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "7000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 810,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "7a97e4d8a37379e8",
        "type": "ui-gauge",
        "z": "e428c7b183d91285",
        "name": "Temperature",
        "group": "dec08aa0f74db657",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 6,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperature (°C)",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "20",
        "max": "80",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 630,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "03954f4b68f087d0",
        "type": "ui-gauge",
        "z": "e428c7b183d91285",
        "name": "Efficiency",
        "group": "c01031610973c65d",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 6,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Efficiency (%)",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 620,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "21cd06a659457bbd",
        "type": "mqtt in",
        "z": "e428c7b183d91285",
        "name": "",
        "topic": "solar/full_data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fdec5e0d2ec26fbd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "e8a3723365477b82"
            ]
        ]
    },
    {
        "id": "e8a3723365477b82",
        "type": "function",
        "z": "e428c7b183d91285",
        "name": "function 1",
        "func": "return [\n    {\n        payload: Number(msg.payload.voltage.toFixed(0)),\n        timestamp: msg.payload.timestamp,\n        topic: \"Voltage\"\n    },\n    {\n        payload: Number(msg.payload.current.toFixed(2)),\n        timestamp: msg.payload.timestamp,\n        topic: \"Current\"\n    },\n    {\n        payload: Number(msg.payload.power.toFixed(2)),\n        timestamp: msg.payload.timestamp,\n        topic: \"Power\"\n    },\n    {\n        payload: Number(msg.payload.temperature.toFixed(1)),\n        timestamp: msg.payload.timestamp,\n        topic: \"Temperature\"\n    },\n    {\n        payload: Number(msg.payload.efficiency.toFixed(1)),\n        timestamp: msg.payload.timestamp,\n        topic: \"Efficiency\"\n    }\n];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 360,
        "wires": [
            [
                "3a599760988bbd95",
                "22aee5675dc84a9f"
            ],
            [
                "cd0886d69587601e",
                "b79a14ccdaee8a32"
            ],
            [
                "bbb4df4b263fd148",
                "0d322838c7dbb3f1"
            ],
            [
                "7a97e4d8a37379e8",
                "80e0773a98aba9ff"
            ],
            [
                "03954f4b68f087d0",
                "bf1672ffa97cb363"
            ]
        ],
        "outputLabels": [
            "5",
            "",
            "",
            "",
            ""
        ]
    },
    {
        "id": "22aee5675dc84a9f",
        "type": "ui-chart",
        "z": "e428c7b183d91285",
        "group": "dfc0ab21eca84754",
        "name": "Voltage Trend",
        "label": "Voltage Trend",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Voltage (V)",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "300",
        "ymax": "500",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "500",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 5,
        "className": "",
        "interpolation": "linear",
        "x": 640,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b79a14ccdaee8a32",
        "type": "ui-chart",
        "z": "e428c7b183d91285",
        "group": "dfc0ab21eca84754",
        "name": "Current Trend",
        "label": "Current Trend",
        "order": 5,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Current",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "20",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "500",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 5,
        "className": "",
        "interpolation": "linear",
        "x": 640,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "80e0773a98aba9ff",
        "type": "ui-chart",
        "z": "e428c7b183d91285",
        "group": "dec08aa0f74db657",
        "name": "Temperature Trend",
        "label": "Temperature Trend",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Temperature",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "10",
        "ymax": "90",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 5,
        "className": "",
        "interpolation": "linear",
        "x": 650,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "bf1672ffa97cb363",
        "type": "ui-chart",
        "z": "e428c7b183d91285",
        "group": "c01031610973c65d",
        "name": "Efficiency Trend",
        "label": "Efficiency Trend",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Efficiency",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 5,
        "className": "",
        "interpolation": "linear",
        "x": 640,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "0d322838c7dbb3f1",
        "type": "ui-chart",
        "z": "e428c7b183d91285",
        "group": "dfc0ab21eca84754",
        "name": "Power Trend",
        "label": "Power Trend",
        "order": 6,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Power",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "7000",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "500",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 12,
        "height": 4,
        "className": "",
        "interpolation": "linear",
        "x": 830,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "dfc0ab21eca84754",
        "type": "ui-group",
        "name": "Electrical",
        "page": "33cbc9d40dea2c83",
        "width": 12,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "dec08aa0f74db657",
        "type": "ui-group",
        "name": "Environmental",
        "page": "33cbc9d40dea2c83",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c01031610973c65d",
        "type": "ui-group",
        "name": "Performance",
        "page": "33cbc9d40dea2c83",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "fdec5e0d2ec26fbd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "33cbc9d40dea2c83",
        "type": "ui-page",
        "name": "Overview",
        "ui": "98adf576f802a008",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "193fa932b1113b31",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "98adf576f802a008",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "193fa932b1113b31",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "b2157884d00046b8",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]